

h1{

	color: lightblue;
	text-align: center;
	text-transform: uppercase;
}
h3{


}

body{

	text-align: center;
    border-top: 10px solid black;
	border-bottom: 10px solid black;
	background-color: (190,190,180)

}

#first-p {

	text-decoration: underline;
}

.other-ps{

	background-color: rgb(134, 200, 142);
}

img {

    border:3px solid black;
    float: right;
    height: 35%
}

hr{

}

ol {


}